{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container-contact100">
    <div class="wrap-contact100">
        {% if check == 'form' %}
        <p>You have successfully borrowed <strong>{{ item.code_name }}-{{ item.eq_type }}</strong> on <strong>{{item.date_borrow}}</strong>. 
            Please return the item by <strong>{{item.date_borrow[:10]}} 18:00:00</strong>.
        </p>
        <form action='/'>
            <input class="returnhome" type="hidden">
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div> 
                    <button class="contact100-form-btn" href="url_for('home')">
                        <span>
                            Return to Home
                        </span>
                    </button>
                </div>
            </div>
        </form>
        {% elif check == 'return' %} 
        <p>You have successfully returned <strong>{{ item.code_name }}-{{ item.eq_type }}</strong> on <strong>{{time}}</strong>. 
        </p>
        <form action='/'>
            <input class="returnhome" type="hidden">
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div> 
                    <button class="contact100-form-btn">
                        <span>
                            Return to Home
                        </span>
                    </button>
                </div>
            </div>
        </form>

        {% endif %}

    </div>
</div>
{% endblock %}